extends layout

block stylesheets
  link(rel='stylesheet', href='/javascripts/vendor/leaflet/leaflet.css')
  link(rel='stylesheet', href='/javascripts/vendor/perfect-scrollbar/perfect-scrollbar.min.css')

block scripts
  script(src='/javascripts/vendor/d3.min.js')
  script(src='/javascripts/vendor/perfect-scrollbar/perfect-scrollbar.min.js')
  script(src='/javascripts/vendor/leaflet/leaflet.js')
  script(src='/javascripts/map.js')

block content
  div#map
  div#list
    ul.clearfix

  script.
    map.init(d3.select('div#map'));
